<div class="container" style="max-width: 80%">

    <!-- *********************************** -->
    <!-- ============ DASHBOARD ============ -->
    <!-- *********************************** -->
    <h1 class="display-4 text-center mb-5 mt-5">Welcome, {{username}}.</h1>

    <div class="row mb-5">
        <!-- Notifications -->
        <div class="col col-xs-4">
            <div class="card bg-primary mb-3">
                <div class="card-body">
                    <h3 class="card-title text-white"><i class="far fa-bell mr-3"></i>Notifications</h3>
                    <!-- Requests Received -->
                    <h6 class="card-subtitle mb-2 text-white mt-3">Requests Received</h6>
                    <ul class="list-group">
                        {{#each requesters}}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <b><i class="fas fa-question mr-3"></i> {{this.username}}</b>
                            <a href="/dashboard/accept/{{this.id}}" id="accept"><button type="button"
                                    class="btn btn-outline-primary btn-sm"
                                    data-user-id="{{this.id}}">Accept</button></a>
                            <a href="/dashboard/deny/{{this.id}}" id="deny"><button type="button"
                                    class="btn btn-outline-secondary btn-sm">Deny</button></a>
                        </li>
                        {{/each}}
                    </ul>
                    <!-- Requests Sent -->
                    <h6 class="card-subtitle mb-2 text-white mt-3">Requests Sent</h6>
                    <ul class="list-group">
                        {{#each requestees}}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <b><i class="far fa-paper-plane mr-3"></i>{{this.username}}</b>
                            <a href="/dashboard/cancel/{{this.id}}" id="cancel"><button type="button"
                                    class="btn btn-outline-secondary btn-sm">Cancel</button></a>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>

        <div class="col col-xs-4">
            <div class="card bg-secondary mb-3">
                <div class="card-body">
                    <h3 class="card-title text-white"><i class="fas fa-user-astronaut mr-3"></i>Friends</h3>
                    <ul class="list-group">
                        {{#each friends}}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <b><i class="fas fa-user-astronaut mr-1"></i> {{this.username}}</b>
                            <a href="/dashboard/unfriend/{{this.id}}" id="unfriend"><button type="button"
                                    class="btn btn-outline-primary btn-sm ">Unfriend</button></a>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>

        <div class="col col-xs-4">
            <div class="card bg-primary">
                <div class="card-body">
                    <h3 class="card-title text-white"><i class="fas fa-search mr-3"></i>Search</h3>
                    <div class="form-group">
                        <input class="form-control form-control-lg" type="text" placeholder="Enter username"
                            id="search-input">
                    </div>
                    <button type="button" class="btn btn-secondary btn-md " id="search">Search</button>
                    <ul class="list-group my-3" id="friend-found">
                        {{!-- Friend will appear here if found --}}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col col-xs-4 mb-3">
            <div class="card border-primary">
                <div class="card-header">
                    <h3 class="card-title"><i class="fas fa-file-alt mr-3"></i>Study Guides</h3>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        {{#each guides}}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <b><i class="far fa-file-alt mr-3"></i>{{this.name}}</b>
                            <a href="/dashboard/delete/guide/{{this.id}}" id="delete-guide"><button type="button"
                                    class="btn btn-outline-secondary btn-sm">Remove</button></a>
                        </li>
                        {{/each}}
                    </ul>
                    <a href="/dashboard/create/guide"><button type="button" class="btn btn-primary btn-md mt-3">Create
                            Guides</button></a>
                </div>
            </div>
        </div>

        <div class="col col-xs-4">
            <div class="card border-secondary">
                <div class="card-header">
                    <h3 class="card-title"><i class="fas fa-users mr-3"></i>Study Groups</h3>
                </div>
                <div class="card-body">

                    <ul class="list-group">
                        {{#each groups}}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <b><i class="fas fa-users mr-3"></i>{{this.name}}</b>
                            <a href="/dashboard/delete/group/{{this.id}}" id="delete-group"><button type="button"
                                    class="btn btn-outline-secondary btn-sm mr-3">Remove</button></a>
                        </li>
                        {{/each}}
                    </ul>
                    <a href="/dashboard/create/group"><button type="button" class="btn btn-primary btn-md mt-3">Create
                            Groups</button></a>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col">
            <div class="card bg-primary">
                <div class="card-body">
                    <h3 class="card-title text-white"><i class="fas fa-graduation-cap mr-3"></i>Sessions</h3>
                    <div class="row">

                        {{#each sessions}}
                        <div class="col col-md-6 col-xl-4">
                            <div class="card border-secondary mb-3">
                                <h3 class="card-header text-center"><i
                                        class="fas fa-graduation-cap mr-3"></i>{{this.name}}</h3>

                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Study Guide: <span
                                            class="badge badge-primary">{{this.guideName}}</span>
                                    </li>
                                    <li class="list-group-item">Group: <span
                                            class="badge badge-primary">{{this.groupName}}</span>
                                    </li>
                                </ul>
                                <div class="card-body text-center">
                                    <a href="/dashboard/session/{{this.userId}}/{{this.id}}"><button type="button"
                                            class="btn btn-secondary">Start</button></a>
                                    <a href="/dashboard/delete/session/{{this.id}}" id="delete-session"><button
                                            type="button" class="btn btn-outline-secondary">Delete</button></a>
                                </div>
                            </div>
                        </div>
                        {{/each}}

                    </div>
                    <a href="/dashboard/create/session"><button type="button" class="btn btn-secondary btn-lg">Create
                            Session</button></a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-xs-4">
            <div class="card bg-secondary">
                <div class="card-body">
                    <h3 class="card-title text-white"><i class="fas fa-graduation-cap mr-3"></i>Active Sessions</h3>
                    {{#each activeSessions}}
                    <div class="alert alert-dismissible alert-primary">
                        <h4 class="alert-heading"><strong>Name: </strong>{{this.name}}</h4>
                        <p class="mb-0 d-inline"><strong>Leader: </strong>{{this.username}}</p>
                        <a href="/dashboard/session/{{this.username}}/{{this.id}}" class="alert-link"><button type="button"
                                class="btn btn-secondary btn-sm d-inline ml-1">Join</button></a>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>